In [2]:
import pandas as pd

In [3]:
#1st read excel file
df = pd.read_csv("C:/Users/Aadhanya/Downloads/traffic_stops_with_vehicle_number.csv")
df.head()

C:\Users\Aadhanya\AppData\Local\Temp\ipykernel_4184\2021620205.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/Aadhanya/Downloads/traffic_stops_with_vehicle_number.csv")

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [6]:
#check missing values or null values in dataset
print(df.isnull().sum())

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [4]:
df.shape

(65538, 16)

In [5]:
df['search_type'].unique()

array(['Vehicle Search', 'Frisk', nan], dtype=object)

In [6]:
df["search_type"] = df['search_type'].fillna('No_search')
print("After filling:")
print(df)

After filling:
        stop_date stop_time country_name driver_gender  driver_age_raw  \
0      2020-01-01   0:00:00       Canada             M              59
1      2020-01-01   0:01:00        India             M              35
2      2020-01-01   0:02:00          USA             M              26
3      2020-01-01   0:03:00       Canada             M              26
4      2020-01-01   0:04:00       Canada             M              62
...           ...       ...          ...           ...             ...
65533  2020-02-15  12:13:00        India             F              54
65534  2020-02-15  12:14:00       Canada             F              18
65535  2020-02-15  12:15:00          USA             M              27
65536  2020-02-15  12:16:00       Canada             F              49
65537  2020-02-15  12:17:00          USA             F              72

       driver_age driver_race     violation_raw violation  search_conducted  \
0              19       Asian     Drunk Driving  Speeding              True
1              58       Other             Other     Other             False
2              76       Black  Signal Violation  Speeding             False
3              76       Black          Speeding       DUI              True
4              75       Other          Speeding     Other             False
...           ...         ...               ...       ...               ...
65533          48       Black             Other     Other             False
65534          35    Hispanic          Seatbelt     Other              True
65535          41       Asian          Seatbelt       DUI              True
65536          63       Black          Seatbelt     Other             False
65537          32       Other          Seatbelt  Speeding              True

          search_type stop_outcome  is_arrested stop_duration  \
0      Vehicle Search       Ticket         True     16-30 Min
1      Vehicle Search       Arrest         True     16-30 Min
2               Frisk       Ticket         True     16-30 Min
3               Frisk      Warning        False      0-15 Min
4      Vehicle Search       Arrest         True     16-30 Min
...               ...          ...          ...           ...
65533  Vehicle Search       Arrest         True     16-30 Min
65534  Vehicle Search       Ticket        False     16-30 Min
65535           Frisk       Ticket         True       30+ Min
65536       No_search      Warning         True      0-15 Min
65537       No_search       Ticket         True     16-30 Min

       drugs_related_stop vehicle_number
0                    True     UP76DY3473
1                    True     RJ83PZ4441
2                    True     RJ32OM7264
3                    True     RJ76TI3807
4                   False     WB63BB8305
...                   ...            ...
65533               False     DL56GW6568
65534                True     TN73EO7098
65535                True     GJ33MX8328
65536                True     KA24UZ8488
65537               False     UP89PT2924

[65538 rows x 16 columns]

In [10]:
df['search_type'].unique()

array(['Vehicle Search', 'Frisk', 'No_search'], dtype=object)

In [11]:
print(df.isnull().sum())

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [12]:
import numpy as np

In [13]:
df.describe(include='all')

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
count,65538,65538,65538,65538,65538.000000,65538.00000,65538,65538,65538,65538,65538,65538,65538,65538,65538,65538
unique,46,1440,3,2,NaN,NaN,5,5,5,2,3,3,2,3,2,65538
top,2020-01-01,12:17:00,India,F,NaN,NaN,White,Seatbelt,Other,False,Frisk,Warning,True,30+ Min,True,UP89PT2924
freq,1440,46,21998,32881,NaN,NaN,13168,13204,13194,32837,21971,21966,32846,21958,32769,1
mean,NaN,NaN,NaN,NaN,49.055998,49.11221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,18.174699,18.15012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,18.000000,18.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,33.000000,34.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,49.000000,49.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,65.000000,65.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,80.000000,80.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df['stop_date'] = pd.to_datetime(df['stop_date'],errors='coerce')
df['stop_time'] = pd.to_datetime(df['stop_time'], format='%H:%M:%S',errors='coerce').dt.time

In [17]:
df['driver_gender'] =df['driver_gender'].fillna('Unknown')
df['driver_race'] =df['driver_race'].fillna('Unknown')
df['search_type'] =df['search_type'].fillna('No_Search')
df['violation'] =df['violation'].fillna('Other')

In [18]:
df['driver_age'] = df['driver_age'].fillna(df['driver_age'].median())

In [ ]:
df.drop_duplicates(inplace=True)

In [19]:
df['search_conducted'] = df['search_conducted'].map({'True': 1, 'False': 0}).fillna(0)
df['is_arrested'] = df['is_arrested'].map({'True': 1, 'False': 0}).fillna(0)
df['drugs_related_stop'] = df['drugs_related_stop'].map({'True': 1, 'False': 0}).fillna(0)

In [19]:
print(df.columns.tolist())

['stop_date', 'stop_time', 'country_name', 'driver_gender', 'driver_age', 'driver_race', 'violation_raw', 'violation', 'search_conducted', 'search_type', 'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop', 'vehicle_number']

df.columns = df.columns.str.strip()

In [20]:
df.drop(columns = ['driver_race'], inplace = True)

In [26]:
df.drop(columns = ['violation_raw'], inplace = True)

In [31]:
df.columns = [col.capitalize() for col in df.columns]

In [32]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Stop_date           65538 non-null  object
 1   Stop_time           65538 non-null  object
 2   Country_name        65538 non-null  object
 3   Driver_gender       65538 non-null  object
 4   Driver_age          65538 non-null  int64
 5   Violation           65538 non-null  object
 6   Search_conducted    65538 non-null  bool
 7   Search_type         65538 non-null  object
 8   Stop_outcome        65538 non-null  object
 9   Is_arrested         65538 non-null  bool
 10  Stop_duration       65538 non-null  object
 11  Drugs_related_stop  65538 non-null  bool
 12  Vehicle_number      65538 non-null  object
dtypes: bool(3), int64(1), object(9)
memory usage: 5.2+ MB
None
    Stop_date Stop_time Country_name Driver_gender  Driver_age Violation  \
0  2020-01-01   0:00:00       Canada             M          19  Speeding
1  2020-01-01   0:01:00        India             M          58     Other
2  2020-01-01   0:02:00          USA             M          76  Speeding
3  2020-01-01   0:03:00       Canada             M          76       DUI
4  2020-01-01   0:04:00       Canada             M          75     Other

   Search_conducted     Search_type Stop_outcome  Is_arrested Stop_duration  \
0              True  Vehicle Search       Ticket         True     16-30 Min
1             False  Vehicle Search       Arrest         True     16-30 Min
2             False           Frisk       Ticket         True     16-30 Min
3              True           Frisk      Warning        False      0-15 Min
4             False  Vehicle Search       Arrest         True     16-30 Min

   Drugs_related_stop Vehicle_number
0                True     UP76DY3473
1                True     RJ83PZ4441
2                True     RJ32OM7264
3                True     RJ76TI3807
4               False     WB63BB8305

In [33]:
df.head(10)

,Stop_date,Stop_time,Country_name,Driver_gender,Driver_age,Violation,Search_conducted,Search_type,Stop_outcome,Is_arrested,Stop_duration,Drugs_related_stop,Vehicle_number
0,2020-01-01,0:00:00,Canada,M,19,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,58,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,76,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,76,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,75,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
5,2020-01-01,0:05:00,Canada,F,73,Other,True,Vehicle Search,Ticket,False,16-30 Min,False,MH89ZF7676
6,2020-01-01,0:06:00,USA,F,70,Speeding,False,Vehicle Search,Ticket,False,30+ Min,False,KA40AD3153
7,2020-01-01,0:07:00,India,M,50,Other,False,No_search,Arrest,True,30+ Min,True,DL75KZ7835
8,2020-01-01,0:08:00,USA,F,30,Seatbelt,True,Frisk,Arrest,False,0-15 Min,True,DL50PO5101
9,2020-01-01,0:09:00,USA,M,21,Signal,True,No_search,Warning,True,16-30 Min,False,KA79RD2271

In [25]:
df[['driver_gender', 'violation']].isnull().sum()

driver_gender    0
violation        0
dtype: int64

In [29]:
import sqlite3

In [30]:
conn_sqlite = sqlite3.connect("traffic_stops_with_vehicle_number_db.sqlite")
cursor= conn_sqlite.cursor()
print("Sqlite connection established")

Sqlite connection established

In [36]:
cursor.execute("""
     CREATE TABLE IF NOT EXISTS secure_check(
         Stop_date DATE,
         Stop_time TIME,
         COUNTRY_NAME TEXT,
         Driver_gender TEXT,
         Driver_age INTEGER,
         Violation TEXT,
         Search_conducted BOOLEAN,
         Search_type TEXT,
         Stop_outcome TEXT,
         Is_arrested BOOLEAN,
         Stop_duration TIME,
         Drug_related_stop BOOLEAN,
         Vehicle_number INTEGER
         );
    """)
conn_sqlite.commit()
print("table secure_check created successfully in sqlite3!")

table secure_check created successfully in sqlite3!

In [39]:
import mysql.connector

conn_mysql = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "23Nov1987@"
)
cursor_mysql = conn_mysql.cursor()
print("MySQl connection established!")

MySQl connection established!

In [40]:
cursor_mysql.execute("CREATE DATABASE IF NOT EXISTS Secure_check_db;")
print("MYSQl database 'Secure_check' created successfully")

MYSQl database 'Secure_check' created successfully

In [41]:
cursor_mysql.execute("USE Secure_check_db;")
cursor_mysql.execute("""
     CREATE TABLE IF NOT EXISTS Police_logs(
         Stop_date DATE,
         Stop_time TIME,
         COUNTRY_NAME VARCHAR(20),
         Driver_gender VARCHAR(1),
         Driver_age INT,
         Violation VARCHAR(10),
         Search_conducted BOOLEAN,
         Search_type VARCHAR(20),
         Stop_outcome VARCHAR(20),
         Is_arrested BOOLEAN,
         Stop_duration TIME,
         Drug_related_stop BOOLEAN,
         Vehicle_number INT
         );
    """)
conn_mysql.commit()
print("Table 'Police logs' created successfully!")
print("table secure_check created successfully in sqlite3!")

Table 'Police logs' created successfully!
table secure_check created successfully in sqlite3!

In [46]:
cursor_mysql = conn_mysql.cursor()

alter_query = """
ALTER TABLE police_logs
MODIFY COLUMN Stop_duration varchar(20);
"""

In [48]:
cursor_mysql.execute(alter_query)
conn_mysql.commit()
print("column datatype modified successfully")

column datatype modified successfully

In [50]:
conn_mysql.commit()

alter_query = """
ALTER TABLE police_logs
MODIFY COLUMN Vehicle_number varchar(20);
"""
cursor_mysql.execute(alter_query)
conn_mysql.commit()
print("column datatype modified successfully")

column datatype modified successfully

In [51]:
datalist = df.values.tolist()
query = """
    INSERT INTO police_logs(Stop_date, Stop_time, COUNTRY_NAME, Driver_gender, Driver_age, Violation, Search_conducted,
    Search_type, Stop_outcome, Is_arrested, Stop_duration, Drug_related_stop, Vehicle_number)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
cursor_mysql.executemany(query, datalist)
conn_mysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()